*{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

header{
    height: 10%;
}

footer{
    height: 10%;
}

main{
    height: 100%;
}

a{
    text-decoration: none;
    transition: all 0.1s;
}

a.links:hover{
    opacity: 0.5;
}

#main{
    gap: 20px;
}

.navbar{
    min-height: 100%;
    gap: 50px;
    /* padding: 10px 50px; */
}

footer h4{
    font-family: 'Rubik';
    color: white;
    font-weight: 200;
}
.bg-dark{
    background-color: #1f1f1f;
}

.bg-gradient{
    background-image: linear-gradient(#FFFFFF 0%, #000000 100%);
}

.bg-title{
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    background-position: center;
}

.bg-white{
    background: white;
}

.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}

.img-guitar{
    background-image: url(../images/electric-guitar.png);
}

.img-github{
    width: 25px;
    height: 25px;
    background-image: url(../images/github.png);
}

.img-linkedin{
    width: 25px;
    height: 25px;
    background-image: url(../images/linkedin.png);
}

.gap-icon{
    gap: 10px;
}

.navbar h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: white;
}

.navbar h3{
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    color: white;
}

.title-container{
    height: 90%;
    padding: 0;
    text-align: center;
    color: black;
}

.title-container h1{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: black;
}

.title-container h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    color: black;
}

.indicator{
    position: relative;
    width: 50px;
    height: 50px;
    transform: rotate(45deg); 
}

.indicator span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-right: 3px solid #222;
    border-bottom: 3px solid #222;
    animation: animate 1s linear infinite;
}

.indicator span:nth-child(1){
    top: -20px;
    left: -20px;
}

.indicator span:nth-child(2){
    top: -5px;
    left: -5px;
}

.indicator span:nth-child(3){
    top: 10px;
    left: 10px;
}

.indicator span:nth-child(4){
    top: 25px;
    left: 25px;
}

@keyframes animate{
    0%{
        border-color: #222;
    }
    100%{
        border-color: #ccc;
    }
}

.transition{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.transition h1{
    margin: 0;
    font-size: 50px;
}

.bio-container{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.pict-container{
    width: 30%;
    height: 80%;
}

article h1, article h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.hero{
    width: 100%;
    height: 80%;
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: center;
    filter: grayscale(80%);
}

.hero:hover{
    filter: none;
}

.hero-text{
    height: 20%;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-align: center;
}

.hero-text h1{
    font-size: 35px;
    font-weight: 700;
    margin: 0;
}

.hero-text h2{
    font-size: 15px;
    font-weight: 300;
}

.article-container{
    padding: 1em;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    margin: 2em;
}

/* Dropdown Related Here */

.dropdown{
    min-width: 15rem;
    position: relative;
    margin: 2em;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.dropdown * {
    box-sizing: border-box
}

.select{
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked{
    border: 2px gray solid;
    box-shadow: 0 0 0.8em red;
}

.select:hover{
    background: grey;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: white;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: black;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background-color: lightgray;
}

.active {
    background: lightgray;
}

.menu-open {
    display: block;
    text-align: center;
    opacity: 1;
}

.hidden{
    display: none;
}

/* Responsive Media Queries */
@media only screen and (max-width: 600px){
   .navbar h3 {
        display: none;
   }

   .title-container h1{
        font-size: 25px;
    }

    .title-container h2{
        font-size: 20px;
    }

    .indicator span{
        width: 50%;
        height: 50%;
    }

    .indicator{
        margin-top: 20px;
    }
   /* a.links div{
        flex-direction: column;
   } */
}